*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardPizza{
    display: flex;
    width: 800px;
    justify-content: space-around;
}

.imagenTexto{
    display: flex;
    align-items: center;
    width: 200px;
}

.imagenTexto img{
    width: 100px;
    padding: 5px;    
    border-radius: 50%;
}

.nombrePizza{
    font-size: 1.5rem;
    font-weight: bold;    
}

.opciones{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    width: 200px;
    align-items: center;
}

.boton{
    width: 30px;
    width: 30px;
}