.card{
    text-align: center;
    width: 25em;
}

.tituloCard{
    text-align: start;
    font-weight: bold;
    font-size: 1.3em;
    margin-top: 5px;
}

.precio{
    font-weight: bold;
    font-size: 1.4em;
}